[class^="sec-"]{
    position: relative;
}
.blocks{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    .block-item{
        background-color: #fff;
        border-radius:4px;
        padding: 10px 15px;
        display: block;
    }
    .uk-first-column{
        padding-left:0!important;
    }
}
ul.uk-custom-ul{
    $boderColor: #e2d286;
    li{
        margin: 15px 0;
        border-radius: 5px;
        border: 1px solid $boderColor;
        background-color: #fff;
        padding: 10px 10px 10px 40px;
        position: relative;

        &:before{
            content: '';
            position: absolute;
            background-image: url(../img/ul-li-index.png);
            background-size: contain;
            background-repeat: no-repeat;
            width: 19px;
            height: 28px;
            top: 6px;
            left: 12px;
        }
        &:nth-child(odd){
            background-color:#fcf6d9;
            border: 1px solid $boderColor;
        }
    }
}
.uk-custom-green-button{
    background-color: #257e05;
    border-radius: 5px;
    color: #fff;
}
.uk-custom-gallery{
    a{
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
        img{
            margin: 0 auto;
            max-width: 400px;
            width: 100%;
            height: auto;
            display: block;
        }
    }
}
.uk-custom-self-center{
    align-self: center;
}
.uk-custom-grid{
    & > div{
        div{
            border:1px solid #b7a656;
            padding: 50px 20px;
            background-color: #fcf6d9;
            border-radius: 8px;
        }
        &:nth-child(odd){
            div{
                background-color: #f8eec1;
            }
        }
    }
}
// sections
.sec-head{
    padding-top: 100px;
    padding-bottom: 100px;
}
// Mobile
@media screen and (max-width: 990px){

}
